p{
  font-size: 1.2em;
}
a{
  color: black;
}
a:hover{
  text-decoration: none;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 300 !important;
}
h1{
  font-size: 4em !important;
  line-height: 1.2em !important;
}
h2{
  font-size: 3.3em !important;
  line-height: 1em !important;
}
h3{
  font-size: 2.4em !important;
}
body{
  margin-top: 70px;
}
footer{
  min-height: 300px;
  margin-top: 40px;
}
.fa{
  margin: 0 3px 0 3px;
}
/* telegram section */
.telegram-section{
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/bg-telegram.jpg");
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}
/* career section */
.career-section{
  background-image: url("../images/pattern-line.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
}
/* team section */
.team-image{
  width: 70%;
  padding: 0px;
  padding-bottom: 10px;
}
.team-name{
  padding: 0px;
  margin-top: 15px;
  font-size: 1.4em;
  color: #ffaf03;
}
.team p{
  max-width: 200px;
  margin: auto;
}
.social-icons{
  position: absolute;
  opacity: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 98px;
}
.social-icons-nd{
  position: absolute;
  opacity: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 112px;
}
.social-icons-ndnt{
  position: absolute;
  opacity: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 130px;
}
.team-image:hover{
  opacity: 0.3;
}
.team-image:hover ~ .social-icons,
.team-image:hover ~ .social-icons-nd,
.team-image:hover ~ .social-icons-ndnt{
  opacity: 1;
}
.social-icons:hover, .social-icons-nd:hover, .social-icons-ndnt:hover{
  opacity: 1;
}
/* faq */
.question{
  padding: 10px 0 10px 0;
  border-top: 1px solid gainsboro;
}
/* features */
.features p{
  max-width: 200px;
  margin: auto;
  margin-top: 20px;
}
.features h3{
  color: #ffaf03;
  font-weight: bold !important;
}
.features h2{
  color: #ffaf03;
}
/* utility stuff */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* buttons */
.outline-button{
  display: inline-block;
  border: 2px solid white;
  width: 100%;
  text-align: center;
  border-radius: 25px !important;
  padding: 10px;
  color: white !important;
  font-weight: bold;
}
.outline-button:hover{
  background-color: #f4b34d !important;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
  cursor: pointer;
}
.orange-button{
  border: 2px solid #ffaf03 !important;
  color: #ffaf03 !important;
}
.orange-button:hover{
  color: white !important;
}
/* navbar */
.navbar{
  box-shadow: none !important;
  background-image: none !important;
  background-color: white !important;
  margin-bottom: 0px !important;
  color: black;
  border-bottom: 1px solid gainsboro;
  font-family: 'Roboto', sans-serif !important;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{
  background-color: #2B4560 !important;
  background-image: none !important;
  color: black !important;
  font-size: 1em !important;
  min-width: 90px !important;
}
.navbar .navbar-nav > li > a{
  color: black;
  font-size: 1em !important;
  min-width: 90px !important;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus{
  color: gainsboro;
}
.navbar li{
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 480px){
  .desktop{
    display: none !important;
  }
}
/* accordion toggle */
.accordion-toggle {
  position: relative;
}
.accordion-toggle::before,
.accordion-toggle::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -22px;
  width: 14px;
  height: 4px;
  margin-top: -2px;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.accordion-toggle::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
}
.accordion-toggle.collapsed::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.accordion-toggle.collapsed::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
